@media (max-height: 610px), (max-width: 610px) {
  body {
    display: none;
  }
}
.schedule-container {
  height: 100%;
}
.schedule-top {
  clear: both;
  display: flex;
  align-items: center;
}
.schedule-top_close {
  width: 50px;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(128, 128, 128);
}
.schedule-top_color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(44, 136, 222);
}
#schedule-input-name {
  width: 100%;
  border: none;
  margin-left: 15px;
  font-size: 15px;
}
.btn-none {
  border: none;
  background-color: transparent;
  color: rgb(128, 128, 128);
  vertical-align: middle;
}
.schedule-middle-container {
  display: flex;
}
.schedule-middle {
  flex: 1 0 auto;
  padding: 10px 0px;
}
.schedule-middle-invite {
  flex: 0 0 auto;
  width: 250px;
}
.title-content {
  display: flex;
  padding: 5px 0px;
}
.schedule-title {
  width: 50px;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(128, 128, 128);
}
input {
  height: 30px;
  padding: 0px;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  vertical-align: middle;
}
/*
input[type="date"] {
  height: 30px
}
*/
label {
  vertical-align: middle;
}
.schedule-content select {
  height: 30px;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
}
.add-alarm {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(247, 247, 247);
}
#schedule-input-description {
  height: 60px;
  width: 95%;
}
.schedule-middle-invite {
  text-align: center;
  padding: 15px 0px;
}
#schedule-invite-button {
  width: 150px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(247, 247, 247);
}
.schedule-content {
  width: 100%;
}
#schedule-input-place {
  width: 95%;
}
.schedulte-bottom-button {
  width: 80px;
  height: 30px;
  margin-left: 90px;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(247, 247, 247);
}
