@media (max-height: 610px), (max-width: 610px) {
  body {
    display: none;
  }
}
.container {
  display: grid;
  grid-template-columns: 65px 1fr;
  grid-template-rows: 1fr 100px;
}
header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.close {
  text-align: end;
}
.close span {
  font-size: 13px;
  padding: 3px;
}
.contents .searchbox {
  clear: both;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchbox-icon .material-icons-outlined {
  font-size: 25px;
  padding: 5px;
  border-radius: 50%;
}
.searchbox-icon .material-icons-outlined:hover {
  background-color: rgb(242, 242, 242);
}
.large-setting-name {
  font-size: 20px;
  font-weight: 800;
  padding: 20px 20px 20px 20px;
}
.profile {
  height: 70px;
}
.friend {
  height: 55px;
  display: flex;
  align-items: center;
}
.friend:hover {
  background-color: rgb(242, 242, 242);
}
.contents {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
footer {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
.dialogue {
  min-height: 200px;
}
.my-chatting {
  height: 100px;
}
.my-chatting_send {
  float: right;
}
.my-chatting_other {
  clear: both;
}
