@import "reset.css";
html,
body {
  height: 100%;
}
body {
}
.container {
  height: 100%;
}
header {
  background-color: grey;
}
nav {
  height: 100%;
}
.contents {
  background-color: antiquewhite;
}
.contents-line {
  background-color: rgb(224, 224, 224);
  height: 0.1px;
  border: none;
}
footer {
  background-color: burlywood;
}
