@import "reset.css";
html,
body {
  height: 100%;
}
.container {
  height: 100%;
}
header {
  background-color: rgb(236, 236, 237);
}
.contents {
  background-color: rgb(255, 255, 255);
}
.contents-line {
  background-color: rgb(224, 224, 224);
  height: 0.1px;
  border: none;
}
footer {
  background-color: rgb(236, 236, 237);
}
